<div id="carouselExampleControls" class="carousel" data-controller="carousel" data-carousel-target="container">
  <div class="carousel-inner">
    <% vinyls.each_with_index do |vinyl, index| %>
      <div class="carousel-item <%= 'active' if index == 0 %>">
        <%= link_to vinyl_path(vinyl), class: "card-link w-90" do %>
          <div class="card-vinyl">
            <%= cl_image_tag vinyl.photo.key, crop: :fill %>
            <div class="card-vinyl-infos">
              <div>
                <h2><%= vinyl.title %></h2>
                <p><%= vinyl.artist %></p>
                <p><%= vinyl.genre %></p>
              </div>
              <h2 class="card-vinyl-pricing">$<%= vinyl.price.to_f %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%# button previus %>
  <button
    class="carousel-control-prev <%= 'd-block d-md-none' if vinyls.length <= 3 %>"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev" data-action="carousel#scrollPrev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <%# button next %>
  <button
    class="carousel-control-next <%= 'd-block d-md-none' if vinyls.length <= 3 %>"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
    data-action="carousel#scrollNext">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>
