<div class="container m-3">
  <h1>Edit Vinyl</h1>

  <div class="container m-3" style="width: 500px;">
    <%= simple_form_for(@vinyl) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :artist %>
        <%= f.input :genre, as: :select, collection: %w[Rock Pop Electronic Jazz Hip-hop], prompt: "Select a genre" %>
        <%= f.input :price %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-success" %>
        <%= link_to 'Cancel', vinyl_path(@vinyl), class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>

  <br>

  <div>
    <%= link_to "Back to all Vinyls", vinyls_path, class: "btn btn-primary" %>
  </div>
</div>
