<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1181769/pexels-photo-1181769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container">
    <h1><strong>FALL</strong>-ing <strong>prices for our September Sale</strong>!</h1>
    <p>20% OFF in all vynil records.</p>
    <%= link_to "Buy now", "#", class: "btn btn-success" %>
  </div>
</div>

<div class="container m-5 mx-auto">
  <h2 class="text-center">Genres</h2>
  <div class="cards">
    <%= link_to genre_path('rock'), style: "text-decoration: none; color: inherit;" do %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'rock.jpg' %>)">
        Rock
      </div>
    <% end %>

    <%= link_to genre_path('pop'), style: "text-decoration: none; color: inherit;" do %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'pop.jpg' %>)">
        Pop
      </div>
    <% end %>

    <%= link_to genre_path('alternative'), style: "text-decoration: none; color: inherit;" do %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'alternative.jpg' %>)">
        Alternative
      </div>
    <% end %>

    <%= link_to genre_path('jazz'), style: "text-decoration: none; color: inherit;" do %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'jazz.jpg' %>)">
        Jazz
      </div>
    <% end %>

    <%= link_to genre_path('hip-hop'), style: "text-decoration: none; color: inherit;" do %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path 'hip-hop.jpg' %>)">
        Hip-hop
      </div>
    <% end %>
  </div>
</div>

<div class= "container m-5 mx-auto" data-controller="list" data-scroll="<%= params[:scroll].present? %>">
  <h2 class="text-center mb-4">Recently Added</h2>
   <%= render "search_bar" %>
  <%= render "vinyl_card_list" %>
</div>
