<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1181769/pexels-photo-1181769.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);">
  <div class="container">
    <h1><strong>FALL</strong>-ing <strong>prices for our September Sale</strong>!</h1>
    <p>20% OFF in all vynil records.</p>
    <%= link_to "Buy now", "#", class: "btn btn-gradient" %>
  </div>
</div>

<div class="container m-5 mx-auto">
  <h2 class="text-center">Genres</h2>
  <div class="cards">
    <%= link_to genre_path('rock'), style: "text-decoration: none; color: inherit;" do %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1763075/pexels-photo-1763075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
        Rock
      </div>
    <% end %>

    <%= link_to genre_path('pop'), style: "text-decoration: none; color: inherit;" do %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
        Pop
      </div>
    <% end %>

    <%= link_to genre_path('alternative'), style: "text-decoration: none; color: inherit;" do %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/17906692/pexels-photo-17906692/free-photo-of-blanco-y-negro-hombres-sentado-jugando.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)">
        Alternative
      </div>
    <% end %>

    <%= link_to genre_path('jazz'), style: "text-decoration: none; color: inherit;" do %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/733767/pexels-photo-733767.jpeg?auto=compress&cs=tinysrgb&w=400)">
        Jazz
      </div>
    <% end %>

    <%= link_to genre_path('hip-hop'), style: "text-decoration: none; color: inherit;" do %>
      <div class="card-category m-2" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/8112576/pexels-photo-8112576.jpeg?auto=compress&cs=tinysrgb&w=400)">
        Hip-hop
      </div>
    <% end %>
  </div>
</div>


<div class= "container m-5 mx-auto">
  <h2 class="text-center mb-4">Recently Added</h2>
  <div class="r-added-cards">
    <% @vinyls.each do |vinyl| %>
     <%= link_to vinyl_path(vinyl), class: "card-link" do %>
      <div class="card-vinyl">
        <%= cl_image_tag vinyl.photo.key, height: 300, width: 400, crop: :fill %>
        <div class="card-vinyl-infos">
          <div>
          <h2><%= vinyl.title %></h2>
            <p><%= vinyl.artist %></p>
            <p><%= vinyl.genre %></p>
          </div>
        <h2 class="card-vinyl-pricing">$<%= vinyl.price %></h2>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
