<div class="container-fluid">
  <h1 class="my-4 text-center">My vinyls on sale:</h1>

  <div id="vinyls" class="row">
    <% @vinyls.each do |vinyl| %>
      <div class="col-md-4 mb-4">
        <div class="card-custom card border-2 shadow-lg">
          <% if vinyl.photo.present? %>
            <%= cl_image_tag vinyl.photo.key, alt: vinyl.title, class: "card-img-top img-fluid" %>
          <% end %>
          <div class="card-body text-center">

            <h5 class="card-title mb-2 fs-4">
              <%= link_to vinyl.title, vinyl_path(vinyl), class: "text-decoration-none text-blue" %>
            </h5>

            <p class="card-text mb-2 text-muted">
              <%= vinyl.artist %>
            </p>

            <p class="card-text mb-3">
              <%= number_to_currency(vinyl.price) %>
            </p>
            <div class="d-flex justify-content-center">
              <%= link_to 'Edit', edit_vinyl_path(vinyl), class: "btn btn-primary btn me-2" %>
              <%= form_for vinyl, url: vinyl_path(vinyl), method: :delete, html: { class: 'd-inline' } do %>
                <%= button_tag(type: :submit, class: "btn btn-danger btn", data: { confirm: 'Are you sure?' }) do %>
                  Delete
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
