  <div class="container py-4">
  <h1 class="text-center mb-3">My Profile</h1>

  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card border-0 shadow-lg rounded">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-md-4 text-center">
              <% if @user.photo.attached? %>
                <%= cl_image_tag @user.photo.key, alt: "Profile Photo", class: "img-fluid rounded-circle" %>
              <% else %>
                <%= image_tag 'default_avatar.png', alt: "Default Avatar", class: "img-fluid rounded-circle" %>
              <% end %>
            </div>
            <div class="col-md-8">
              <div class="d-flex flex-column justify-content-center h-100">
                <h3 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h3>
                <p class="card-text"><strong>Email:</strong> <%= @user.email %></p>
                <p class="card-text"><strong>Address:</strong> <%= @user.address %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center mt-4 mb-3" >My Reviews</h2>
  <div class="row justify-content-center">
    <% if @sales.present? %>
      <% @sales.reverse.each do |sale| %>
      <% if sale.review %>
        <div class="col-md-8 mb-3">
          <div class="card border-0 shadow-lg rounded">
            <div class="card-body">
              <div class="row">
                <p class="card-text m-1" style="color: gray;"><%= sale.review.created_at.strftime("%B %d, %Y") %></p>
                <div class="col-4">
                  <%= cl_image_tag sale.review.user.photo.key, class: "avatar mx-2", alt: "dropdown menu", crop: :fill %>
                  <%= sale.review.user.first_name %> <%= sale.review.user.last_name %>
                </div>
                <div class="col-8">
                  <h4 class="card-title"><strong><%= sale.review.title %></strong></h4>
                  <p class="card-text">"<%= sale.review.content %>"</p>
                  <p class="card-text"><i class="fa-solid fa-star"></i> <%= sale.review.rating %>/5</p>
                </div>
              </div>
            </div>
          </div>
        </div>
         <% end %>
      <% end %>
    <% else %>
      <div class="col-md-8 mb-3">
        <div class="card border-0 shadow-lg rounded text-center">
          <div class="card-body">
            <p>You have no reviews yet.</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
